<div class="file-item special">
    <div class="file-icon"><i class="fa fa-plus"></i></div>
    <div class="file-description">
        <h3>Create a file</h3>
        <p>Click to create a file storage contract.</p>
    </div>
</div>

<div class="file-item">
    <div class="file-icon"><i class="fa fa-file"></i></div>
    <div class="file-description">
        <h3>Test.zip</h3>
        <p>ea213b57-fb57-4c7a-abdd-8a90a8655b94</p>
    </div>
</div>

<div class="file-item">
    <div class="file-icon"><i class="fa fa-file"></i></div>
    <div class="file-description">
        <h3>Test.zip</h3>
        <p>ea213b57-fb57-4c7a-abdd-8a90a8655b94</p>
    </div>
</div>

<div class="file-item">
    <div class="file-icon"><i class="fa fa-file"></i></div>
    <div class="file-description">
        <h3>Test.zip</h3>
        <p>ea213b57-fb57-4c7a-abdd-8a90a8655b94</p>
    </div>
</div>

<div class="file-item">
    <div class="file-icon"><i class="fa fa-file"></i></div>
    <div class="file-description">
        <h3>Test.zip</h3>
        <p>ea213b57-fb57-4c7a-abdd-8a90a8655b94</p>
    </div>
</div>

<div class="file-item">
    <div class="file-icon"><i class="fa fa-file"></i></div>
    <div class="file-description">
        <h3>Test.zip</h3>
        <p>ea213b57-fb57-4c7a-abdd-8a90a8655b94</p>
    </div>
</div>

<div class="file-item">
    <div class="file-icon"><i class="fa fa-file"></i></div>
    <div class="file-description">
        <h3>Test.zip</h3>
        <p>ea213b57-fb57-4c7a-abdd-8a90a8655b94</p>
    </div>
</div>

<div class="file-item">
    <div class="file-icon"><i class="fa fa-file"></i></div>
    <div class="file-description">
        <h3>Test.zip</h3>
        <p>ea213b57-fb57-4c7a-abdd-8a90a8655b94</p>
    </div>
</div>

<div class="file-item">
    <div class="file-icon"><i class="fa fa-file"></i></div>
    <div class="file-description">
        <h3>Test.zip</h3>
        <p>ea213b57-fb57-4c7a-abdd-8a90a8655b94</p>
    </div>
</div>

<div class="file-item">
    <div class="file-icon"><i class="fa fa-file"></i></div>
    <div class="file-description">
        <h3>Test.zip</h3>
        <p>ea213b57-fb57-4c7a-abdd-8a90a8655b94</p>
    </div>
</div>

<div class="file-item">
    <div class="file-icon"><i class="fa fa-file"></i></div>
    <div class="file-description">
        <h3>Test.zip</h3>
        <p>ea213b57-fb57-4c7a-abdd-8a90a8655b94</p>
    </div>
</div>