<div class="chain-outer">
    <div class="chain">
        <div class="chain-block">
            <div class="chain-block-number">Block #1</div>
            <div class="chain-block-role">(Master)</div>
            <div class="chain-block-node">8a90a8655b94</div>
        </div>
        <div class="chain-arrow"><img src="~/images/arrow.png" /></div>
        <div class="chain-block">
            <div class="chain-block-number">Block #2</div>
            <div class="chain-block-role">(Master)</div>
            <div class="chain-block-node">0ab9486558a9</div>
        </div>
        <div class="chain-arrow"><img src="~/images/arrow.png" /></div>
        <div class="chain-block error">
            <div class="chain-block-number">Block #3</div>
            <div class="chain-block-role">(Master)</div>
            <div class="chain-block-node">b9480a6558a9(offline)</div>
        </div>
        <div class="chain-arrow"><img src="~/images/arrow.png" /></div>
        <div class="chain-block">
            <div class="chain-block-number">Block #4</div>
            <div class="chain-block-role">(Master)</div>
            <div class="chain-block-node">b9480a6558a9</div>
        </div>
        <div class="chain-arrow"><img src="~/images/arrow.png" /></div>
        <div class="chain-block pending">
            <div class="chain-block-number">Block #5</div>
            <div class="chain-block-role">(Master)</div>
            <div class="chain-block-node">Electing...</div>
        </div>
    </div>

    <div class="chain">
        <div class="chain-block">
            <div class="chain-block-number">Block #1</div>
            <div class="chain-block-role">(Slave #1)</div>
            <div class="chain-block-node">8a90a8655b94</div>
        </div>
        <div class="chain-arrow"><img src="~/images/arrow.png" /></div>
        <div class="chain-block">
            <div class="chain-block-number">Block #2</div>
            <div class="chain-block-role">(Slave #1)</div>
            <div class="chain-block-node">0ab9486558a9</div>
        </div>
        <div class="chain-arrow"><img src="~/images/arrow.png" /></div>
        <div class="chain-block">
            <div class="chain-block-number">Block #3</div>
            <div class="chain-block-role">(Slave #1)</div>
            <div class="chain-block-node">b9480a6558a9</div>
        </div>
        <div class="chain-arrow"><img src="~/images/arrow.png" /></div>
        <div class="chain-block">
            <div class="chain-block-number">Block #4</div>
            <div class="chain-block-role">(Slave #1)</div>
            <div class="chain-block-node">b9480a6558a9</div>
        </div>
        <div class="chain-arrow"><img src="~/images/arrow.png" /></div>
        <div class="chain-block pending">
            <div class="chain-block-number">Block #5</div>
            <div class="chain-block-role">(Master)</div>
            <div class="chain-block-node">Electing...</div>
        </div>
    </div>
</div>